.order-cancellation-mainpage {
  .order-sub-body {
    padding: 1rem;
    padding-top: 7rem;

    .modal {
      z-index: 9999999999999999999;
      background-color: rgba(0, 0, 0, 0.734);
      padding-top: 3rem;
    }

    h1 {

      font-family: Roboto;
      font-size: 24px;
      font-weight: 700;
      line-height: 30px;
      text-align: left;
      padding: 20px 10px;
      color: #111111;
    }

    .image-list {
      list-style: none;
      padding: 10px;
      margin: 0;
      padding: 1rem;
      border: 1px solid #F3F3F3;

      h1 {
        font-family: Roboto;
        font-size: 21px;
        font-weight: 600;
        line-height: 26.25px;
        text-align: left;

      }
    }

    .image-list li {
      display: flex;
      margin: 10px 0;
      align-items: center;
    }

    .image-list li input[type="checkbox"] {
      margin-right: 10px;

      accent-color: #02400C;
      width: 28px !important;
      height: 28px;
    }


    .image-list li img {
      width: 100px;
      height: 100px;
    }

    .product-description {
      p {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 0px !important;
        text-align: left;
        color: #111111;
      }

      span {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 400;
        line-height: 18.2px;
        text-align: left;
        color: #111111;
      }
    }

    .cancellation-card {
      padding: 1rem;
      border: 1px solid #F3F3F3;

      .containeer-heading {

        h1 {
          font-family: Roboto;
          font-size: 20px !important;
          font-weight: 600;
          line-height: 26.25px;
          text-align: left;
          padding-left: 0 !important;
          padding-top: 0px !important;
          margin-top: 0px !important;
          padding-bottom: 10px !important;
        }
      }

      .reason-container {

        label {
          font-family: Roboto;
          font-size: 12px;
          font-weight: 400;
          line-height: 14.06px;
          padding-bottom: 10px;
          text-align: left;
          color: #434343;
        }
      }

      .change-address-container {

        background-color: #F3F3F3;
        margin-top: 1rem;
        padding: 1rem;


        .address-card-description {
          .description-heading {
            h1 {
              font-family: Roboto;
              font-size: 16px !important;
              font-weight: 600;
              line-height: 20px;
              padding-left: 0px !important;
              text-align: left;
              padding-bottom: 10px !important;
              margin-bottom: 0px !important;

            }
          }

          p {
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            line-height: 19.6px;
            letter-spacing: 0.02em;
            padding-bottom: 15px !important;
            margin-bottom: 0px !important;
            text-align: left;

            color: #111111;
          }

          span {
            font-family: Roboto;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            padding-bottom: 0px !important;
            margin-bottom: 0px !important;
            text-align: left;
            color: #929292;
          }

          .change-my-address-btn {
            button {
              width: 100%;
              height: 48px;
              padding: 10px 67px 10px 67px;
              gap: 10px;
              border-radius: 10px;
              border: 1px solid #02400C;
              opacity: 0px;
              font-family: Roboto;
              font-size: 14px;
              margin-top: 1.5rem;
              font-weight: 600;
              background-color: #ffff;
              line-height: 22.4px;
              color: #02400C;

            }
          }
        }

      }


    }

    .overviw-container {
      padding: 1rem !important;
      border: 1px solid #F3F3F3;

      .overvie-heading {
        h1 {

          font-family: Roboto;
          font-size: 21px;
          font-weight: 600;
          line-height: 26.25px;
          padding-left: 0px !important;
          text-align: left;
          color: #111111;
        }

      }



      padding: 1rem !important;

      td {
        padding-right: 1rem;

        padding-bottom: 10px;


        span {
          font-family: Roboto;
          font-size: 12px;
          font-weight: 400;
          line-height: 14.06px;
          letter-spacing: 0.02em;
          text-align: left;

          color: #585858;
        }

        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        line-height: 14.06px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #111111;


      }

      .refund-method {
        background-color: #fff;
        padding-top: 10px;



        h1 {
          font-family: Roboto;
          font-size: 14px;
          font-weight: 600;
          line-height: 17.5px;
          text-align: left;
          color: #000000;
          padding: 0px !important;

        }
      }

      h1 {
        font-size: 18px;
        margin-bottom: 15px;
      }

      .custom-radio {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        cursor: pointer;
      }

      .custom-radio input[type="radio"] {
        display: none;
      }

      .custom-radio .radio-button {
        width: 24px;
        height: 24px;
        border: 2px solid #02400C;
        border-radius: 50%;
        margin-right: 10px;
        position: relative;
        transition: border-color 0.3s;
      }

      .custom-radio input[type="radio"]:checked+.radio-button {
        border-color: #02400C;
      }


      .warning {

        padding: 0 !important;
        margin: 0 0px 0px 4px !important;

        font-size: 17px;
      }

      .custom-radio .radio-button::after {
        content: '';
        width: 17px;
        height: 17px;
        background-color: #02400C;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.3s;
      }

      .custom-radio input[type="radio"]:checked+.radio-button::after {
        opacity: 1;
      }

      .custom-radio span+span {
        color: #666;
      }

      .cancel-oredr-btn {
        display: flex;
        gap: 10px;
        margin-top: 2rem;

        button {
          width: 175px;
          height: 48px;

          border-radius: 10px;
          color: #ffffff;
          border: none;
          background-color: #02400C;
          font-family: Roboto;
          font-size: 14px;

          font-weight: 600;

        }

        .btn1 {
          border: 1px solid #02400C;
          background-color: white;
          font-family: Roboto;
          font-size: 14px;
          color: #02400C;
          font-weight: 600;



        }
      }


    }
  }

  .accordion-button:focus {
    background-color: transparent !important;
    outline: none !important;
    box-shadow: none !important;

  }

  .accordion-button {
    border-radius: 10px !important;
    border-top: var(--bs-accordion-border-width) solid#F3F3F3 !important;
    cursor: pointer !important;
  }



  .accordion-body {
    padding-top: 9px !important;
    padding-bottom: 9px !important;
    cursor: pointer !important;
  }

  .accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color: white !important;
    box-shadow: none !important;
  }

  .modal-button1 {
    width: 191px;
    height: 48px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    color: white;
    border-radius: 10px;
    background-color: #02400C;
    opacity: 0px;

  }

  .modal-button2 {
    width: 191px;
    height: 48px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    color: #02400C;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid #02400C;
    opacity: 0px;

  }


  @media (max-width:768px) {
    .order-sub-body {
      padding: 10px !important;
    }

    .image-list {
      padding: 10px !important;
    }

    .product-description p {
      font-size: 11px !important;
      line-height: 16px !important;
    }

    .image-list {
      margin-bottom: 1rem !important;
    }

    .cancellation-card {
      margin-bottom: 1rem !important;
    }

    .change-my-address-btn {
      button {
        padding: 0px !important;
      }
    }
  }
}